.display-flex{
    display: flex;
}
/* Nav  */
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav-title, .nav-link{
justify-content: center;
align-items: center;
}
nav ul li{
    list-style: none;
   
}
.list{
    gap: 80px;
}
.nav-title{
    gap: 30px;
    font-size: 25px;
    font-weight: 600;
}