body{
    margin: 0;
    padding: 0;
}
        /* shared styles */
.display-flex {
    display: flex;
}

.font {
    font-family: "Quicksand", serif;
}

/* Nav  */
.nav-container {
    /* justify-content: space-evenly; */
    width: 1200px;
    margin: auto;
}


.menu {
    display: none;
}

.nav {
    justify-content: space-between;
    align-items: center;

}

.nav-title,
.nav-link {
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;

}

.list {
    gap: 32px;
    font-size: 18px;
    font-weight: 700;
}

.nav-title {
    gap: 30px;
    font-size: 25px;
    font-weight: 600;
}

.nav-button {
    background-color: #FEA301;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 9px;
    width: 160px;
    height: 50px;
}

/* Banner styles */
.banner {
    width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 110px;

}

.banner-left {
    padding-top: 70px;
}

.banner-heading {
    font-size: 56px;
    font-weight: bold;
}

.banner-p {
    font-size: 20px;

}

.banner-btn {
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 40px;
}

/* standard curriculum */
.card-parent {
    justify-content: center;
    gap: 35px;

}


.standard-content {

    width: 1158px;
    margin: auto;
    padding-top: 70px;

}

.standard-body {

    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.card-1,
.card-2,
.card-3 {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 370px;
    height: 440px;
    padding-top: 50px;


}

.card-1 {
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(222, 245, 255, 1));


}

.card-2 {
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 244, 220, 1));


}

.card-3 {
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(242, 232, 255, 1));

}

.standard-h {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}

.card-h {
    color: rgba(32, 32, 32, 1);
    font-size: 25px;
    font-weight: bold;
}

.card-p {
    font-size: 15px;
    font-weight: 500;
    color: #808080;
}

.read {
    padding-top: 50px;
    font-size: 15px;
    font-weight: bold;
}

/* Next previous icon */
.next-page {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 10px;
    
}
.next-page img:hover{
    filter: grayscale(100%);
    cursor: pointer;
}

/* Our story */
.story-bg-color {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(254, 163, 1, 0.3));

}

.story-bg-img {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 60px;
    padding-bottom: 0px;

}

.image-story{
    width: 290px;
    height: 175px;
}

.story-container{
    width: 1158px;
    margin: auto;
}

.story {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 46px;
    justify-content: center;
}

.story-left {
    background-color: white;
    border-radius: 10px;
}

.text-padding {
    padding-left: 33px;
    padding-top: 30px;
    

}

.card-left {
    position: relative;
}

.left-story-btn {
    background-color: rgba(60, 216, 232, 1);
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 8px;
    border: none;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 30px;
}

.story-card {
    justify-content: center;
    gap: 18px;
}

.story-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    border-radius: 10px;
}

.story-1,
.story-2,
.story-3,
.story-4 {
    background-color: white;
    position: relative;
    border-radius: 10px;
}

.story-1-btn,
.story-2-btn {

    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 8px;
    border: none;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    position: absolute;
    top: 154px;
    left: 30px;
}

.story-3-btn,
.story-4-btn {
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 8px;
    border: none;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    position: absolute;
    top: 160px;
    left: 30px;
}

.story-1-btn,
.story-3-btn,
.story-4-btn {
    background-color: rgba(149, 178, 38, 1);
}

.story-2-btn {
    background-color: rgba(93, 88, 240, 1);
}

.story-4-btn {
    width: 140px;
    height: 40px;
}

/* .story-bg-img{
    width: 824px;
    height: 216px;
} */
.View-button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;

}

/* footer */
.footer-title {
    font-size: 26px;
    font-weight: bold;
}

.footer {
   
    background-color: #01ACFD;
    padding: 40px 0;
    color: white;
}
.footer-container{
    width: 1158px;
    margin: auto;
  

}
.footer-content{
    justify-content: space-between;
}

.footer-left {
    align-items: center;
    gap: 5px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 0px;
}
.footer-list li{
    list-style: none;
}
.footer-img {
    gap: 10px;
}

.about {
    font-size: 22px;
    font-weight: bold;
}

.keep {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}


/* marque Text styles */

.marque-text-container {
    width: 1158px;
    margin: auto;
    height: 50px; 
    overflow: hidden; 
    position: relative; 
    background: #f9f9f9; 
}

.marque-text {
    position: absolute; 
    top: 0;
    left: 100%; 
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.644);
    text-shadow: 2px 2px 5px rgba(243, 227, 9, 0.87);
    white-space: nowrap; 
    animation: scroll-left 20s linear infinite; 
}

@keyframes scroll-left {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(-100%); 
    }
}


/* Responsive media query*/
/* small devices */

@media screen and (max-width: 576px) {
    .navbar-container {
        width: 100%;
    }

    .nav-main {
        padding-bottom: 15px;
        border-bottom: 1px solid #FEA301;
    }

    .list,
    .nav-button,
    .nav-h {
        display: none;
    }

    .nav {
        margin: 0px;
    }

  
    

    .nav-container {
      
        width: 100%;
       
    }

    .story-right {
      
    }

    .text-padding {
        padding-left: 10px;
        padding-top: 10px;
        font-size: 12px;
    
    }

    .story-1-btn,
.story-2-btn {

   
  
    font-size: 8px;
   
  
    width: 100px;
    height: 20px;
   
    top: 92px;
    
}
.story-3-btn,
.story-4-btn {
    
    font-size: 8px;
   
    width: 100px;
    height: 20px;
    top:92px;
   
}




    .image-story{
        width: 170px;
        height: 102px;
    }
    

    .menu {
        display: block;
    }

    .banner {
        width: 80%;
        flex-direction: column-reverse;
        position: relative;
        gap: 0px;

    }

    .banner img {
        width: 100%;
    }

    .banner-left {
        padding-top: 0px;
        text-align: center;
    }

    .next-page,
    .story-left {
        display: none;
    }

    .story {
        font-size: 26px;
    }
    .story-container{
        width: 100%;
        
    }

    

 .card-parent {
        flex-direction: column;

        align-items: center;
        width: 400px;
    }

    .standard-content {

        width: 100%;
      
    
    }
    

    .standard-h {
        text-align: center;
        width: 400px;
        font-size: 36px;

    }

    .marque-text-container {
        width: 100%;
        height: 26px;
       
    }
    .marque-text {
        font-size: 16px;
    }
   
  
     .footer-container{
        width: 100%;
        
       
    
    } 
    .footer-content{
        flex-direction: column;
    }
    .footer-list {
        margin-left: -30px;
    }
}

